<component name="ArtifactManager">
  <artifact type="exploded-war" name="mybatis-step-04:Web exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/mybatis_step_04_Web_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="mybatis-step-04/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="mybatis-step-04" />
        </element>
        <element id="library" level="project" name="Maven: org.mybatis:mybatis:3.5.10" />
      </element>
    </root>
  </artifact>
</component>