<?xml version="1.0" encoding="UTF-8" ?>

<mapper namespace="user">
    <insert id="insertUser">
        insert into t_user(id,name,password) values(#{id}, #{name}, #{password})
    </insert>

    <select id="selectUserById" resultType="cn.langqyi.mybatis.test.User">
        select * from t_user where id = #{id}
    </select>
</mapper>